@font-face {
  font-family: fakt-web;
  src: url(./fonts/FaktPro-Blond.woff2) format("woff2"), url(./fonts/FaktPro-Blond.woff) format("woff"), url(./fonts/FaktPro-Blond.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: fakt-web;
  src: url(./fonts/FaktPro-Normal.woff2) format("woff2"), url(./fonts/FaktPro-Normal.woff) format("woff"), url(./fonts/FaktPro-Normal.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: fakt-web;
  src: url(./fonts/FaktPro-Medium.woff2) format("woff2"), url(./fonts/FaktPro-Medium.woff) format("woff"), url(./fonts/FaktPro-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: geometricPrecision;
  text-rendering: auto;
}

body {
  font-family: fakt-web, sans-serif;
  font-size: 18px;
  line-height: 2;
  color: rgba(0, 0, 0, 0.86);
  background-color: #fff;
}

body, button, input, select, textarea {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

a {
  color: #0a84ae;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: rgba(0, 0, 0, 0.4);
}

p {
  font-size: 16px;
  line-height: 1.9;
}

.AppHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07);
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.AppLink {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-decoration: none;
}

.AppLink li {
  padding: 0rem 0.2rem 1rem;
}

.AppLink li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.AppLink li a:active {
  color: #666;
}

.AppLink li a:hover {
  color: #333;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50vh;
}

form {
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form * {
  margin: 0.35rem;
}

.todoStrike {
  text-decoration: line-through;
}

.box * {
  font-size: 14px;
  padding: 3px 10px;
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
}

th {
  background: #f3f3f3;
  height: 43px;
  overflow: hidden;
  font-size: 1rem;
  border: none !important;
}

tr {
  height: 54px;
  background: white;
}

td {
  height: 53px;
  font-size: 1rem;
  line-height: 1.8rem;
  font-weight: 400;
  color: #333740;
  vertical-align: middle;
  border-collapse: collapse;
  border-top: 1px solid #f1f1f2 !important;
  padding: 0px 25px;
}
/*# sourceMappingURL=App.module.css.map */