
// @font-face {
//   font-family: 'MyFont';
//   src: local('MyFont'), url(./fonts/MyFont.woff) format('woff');  
// }

@font-face {
	font-family: fakt-web;
	src: 

	url(./fonts/FaktPro-Blond.woff2) format("woff2"),
	url(./fonts/FaktPro-Blond.woff) format("woff"),
	url(./fonts/FaktPro-Blond.ttf) format("truetype");
	font-weight: 300;
	font-style: normal
}

@font-face {
	font-family: fakt-web;
	src: 
	url(./fonts/FaktPro-Normal.woff2) format("woff2"),
	url(./fonts/FaktPro-Normal.woff) format("woff"),
	url(./fonts/FaktPro-Normal.ttf) format("truetype");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: fakt-web;
	src: 
	url(./fonts/FaktPro-Medium.woff2) format("woff2"),
	url(./fonts/FaktPro-Medium.woff) format("woff"),
	url(./fonts/FaktPro-Medium.ttf) format("truetype");
	font-weight: 500;
	font-style: normal
}

html {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	text-rendering: geometricPrecision;
	text-rendering: auto;
}

body {
	font-family: fakt-web, sans-serif;
	font-size: 18px;
	line-height: 2;
	color: rgba(0,0,0,.86);
	background-color: #fff
}

body,button,input,select,textarea {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

button,input,select,textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit
}

// a {
// 	color: #0a84ae;
// 	text-decoration: none;
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing: grayscale
// }

.h1,.h2,.h3,.h4,.h5,.h6,
	h1,h2,h3,h4,h5,h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: rgba(0,0,0,.4)
}
p {
	font-size: 16px;
	line-height: 1.9;
}



.AppHeader {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.07); 
	// box-shadow: 0 2px 2px 0 rgb(0, 0, 0);
	// box-shadow: 0 2px 2px 0 rgb(0, 0, 0/ 0.07);
	// box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.07);
	
	// padding-bottom: 1.5rem;
	// background-color: rgb(28, 39, 43);
	margin-bottom: 1.5rem;
} 
.AppLink {	
	list-style: none;
    display: flex;
    
    justify-content: space-around;
    text-decoration: none;

		li{				
			padding: 0rem 0.2rem 1rem; 

			a {
				text-decoration: none;
				color: rgba($color: #000000, $alpha: .5);
			}

			a:active {
				color: #666
			}

			a:hover {
				color: #333;				
			}
		}		
		
	
}

.login {
	display: flex;
  justify-content: center;
	align-items: center;
  min-height: 50vh;	
}

form {
	width: 300px;	
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	// each child
 	* {
		margin: 0.35rem;
	}
}

.todo{	
	
}
 
.todoStrike{	
	text-decoration: line-through;
}

.box {
	* {
		font-size: 14px;
		padding: 3px 10px;
		box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
		text-transform: 
			uppercase;
	}
}


th {
	background: rgb(243, 243, 243);
	height: 43px;
	overflow: hidden;
	font-size: 1rem;
	border: none !important;
	// vertical-align: middle !important;
}
tr {
	height: 54px;
    background: rgb(255, 255, 255);
}
td {
	// display: flex;
	// justify-content: center;
	height: 53px;
	font-size: 1rem;
	line-height: 1.8rem;
	font-weight: 400;
	color: rgb(51, 55, 64);
	vertical-align: middle;
	border-collapse: collapse;
	border-top: 1px solid rgb(241, 241, 242) !important;
	padding: 0px 25px;
}

.progressBar{
	width: 100px;
	position: relative;
	height: 4px;

	.progress{
		height: 4px;
		background-color: #ff0000;
		width: 0;
	}
}

// .progressBar .progress{
// 	height: 4px;
// 	background-color: #ff0000;
// 	width: 0;
// }

.preview img {
	max-width: 300px;
	max-height: 150px;
}
